# Directory created by dartdoc
doc/api/
.buildlog
.DS_Store
.idea
.local-chromium
.packages
.project
.settings
.pub/
build/
packages
pubspec.lock
.dart_tool/
.local-chrome/

out
docs

.env/
ms_graph_*

*.iml
*.js_
