* {
  padding: 0px;
}

.elec-calculator {
  font-size: 18px;
  border: 2px solid silver;
  padding: 1em;
  margin: 5px;
  width: 680px;
}
.hot-keys {
  margin: 5px;
}

.elec-calculator .row-1 {
  display: grid;
  grid-template-columns: 200px 220px 140px;
  column-gap: 30px;
  padding: 1px;
  margin-bottom: 18px;
}


.elec-calculator .term-container .grid-container {
  display: grid;
  grid-template-columns: 50px 140px;
  grid-gap: 3px;
  column-gap: 3px;
  padding: 1px;
}

.elec-calculator .asofdate-container > .grid-container {
  display: grid;
  grid-template-columns: 90px 100px;
  grid-gap: 3px;
  column-gap: 3px;
  padding: 1px;
}

.elec-calculator .hascustom-container > .grid-container {
  display: grid;
  grid-template-columns: 110px 30px;
  grid-gap: 3px;
  column-gap: 3px;
  padding: 1px;
}

.elec-calculator .row-2 > .grid-container {
  display: grid;
  grid-template-columns: 70px 70px 70px 220px 70px 60px 60px;
  grid-gap: 5px;
  row-gap: 2px;
  column-gap: 2px;
  padding: 1px;
}

.elec-calculator .left-label {
  color: blue;
  border: 0px solid white;
  text-align: left;
  padding: 3px 0;
}

.elec-calculator .cell-header {
  color: blue;
  border: 0px solid white;
  align-self: end;
  text-align: left;
}


.elec-calculator .cell-num {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  text-align: right;
  padding: 2px;
}

.elec-calculator .cell-string {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  text-align: left;
  padding: 2px;
}
.elec-calculator .cell-editable {
  background-color: black;
  color: #7CFC00;
  border-color: black;
  padding: 2px;
}

.elec-calculator .cell-editable .typeahead {
  background-color: black;
  color: #7CFC00;
  border-color: black;
  padding: 2px;
}


.elec-calculator  .cell-calculated {
  background-color: blue;
  color: white;
  padding: 2px;
}

.elec-calculator .grid-container > .net {
  text-align: right;
  grid-column: 1 / 7;
}

.elec-calculator .grid-results {
  display: grid;
  grid-template-columns: 100px 100px 400px;
  grid-template-rows: auto auto 4em;
  grid-gap: 0px;
  row-gap: 5px;
  column-gap: 5px;
  padding: 2px;
}

.elec-calculator .cell-comments {
  text-align: left;
  grid-column: 2 / 4;
  border: 1px solid silver;
  padding: 2px;
}

.my-button {
  background-color: blue;
  border-color: white;
  margin: 1px;
}